body {
  margin-top: 80;
  background-color: #f3f3f3;
  background-image: url("https://media.cntraveler.com/photos/5f84939a5f9755e5951db3f4/16:9/w_2560%2Cc_limit/WhitefishMountainResort-3.jpg");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: sans-serif;
}

.title {
  justify-content: center;
  margin: auto;
  margin-top: 25px;
  width: 360px;
  color: white;
}

.background-card {
  display: flex;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  margin: auto;
  margin-top: 100px;
  width: 500px;
  height: 400px;
  border: 0px solid;
  border-radius: 4px;
  font-size: 12px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  /* opacity: rgba; */
}

.login-card {
  background-color: #fff;
  opacity: 1;
  margin: auto;
  margin-top: 100px;
  width: 360px;
  border: 20px solid;
  border-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  font-size: 12px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.login-form {
  /* border-color: rgba(51,51,51,0.5);
  border: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.input-field {
  width: 300px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  border: 1px solid;
  border-color: #dddddd;
  border-radius: 4px;
  font-size: 12px;
}

.input-field:hover,
.input-field:active,
.input-field:focus,
.input-field:focus-visible,
.input-field:focus-within {
  border-color: #31b3ef;
}

.create-acc-link {
  font-size: 11px;
  text-align: center;
  padding-bottom: 14px;
}

.errors {
  text-align: center;
  font-size: 15px;
  color: crimson;
  margin: 0;
}

.create-user-card {
  background-color: #ffffff;
  margin: auto;
  margin-top: 100px;
  width: 360px;
  border: 0px solid;
  border-radius: 4px;
  font-size: 12px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.create-user-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.create-input-field {
  width: 320px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  border: 1px solid;
  border-color: #31b3ef;
  border-radius: 4px;
  font-size: 12px;
}

.create-input-field:hover,
.create-input-field:active,
.create-input-field:focus,
.create-input-field:focus-visible,
.create-input-field:focus-within {
  border-color: #95ecf3;
}

.back-link {
  font-size: 11px;
  text-align: center;
  padding-bottom: 14px;
}

/* button */

.button {
  color: white;
  background-color: #31b3ef;
  width: 98%;
  margin-top: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 0px solid;
  border-radius: 4px;
  font-size: 12px;
}

.button:hover {
  background-color: #bbf0ef;
  cursor: pointer;
}

.navbar {
  /* opacity: 0.7; */
  min-height: 35px;
  background-color: white;
  padding-top: 10px;
  position: fixed;
  text-decoration: none;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.resort-cards {
  flex-wrap: wrap;
  flex-direction: row !important;
  display: flex;
  margin-left: 10px;
}

/* .image-card {
  max-width: 300px;
  flex-direction: row;
  display: flex;
} */

.map-images {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  background-color: white;
  /* width: 25%; */
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 0.25rem;
  /* overflow: hidden; */
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  justify-content: center;
}

.image {
  max-width: 280px;
  margin: auto;
}

.image-title {
  width: 100 px;
  height: 100 px;
}

.trails {
  flex-direction: column;
  display: flex;
}

.top-div {
  margin-top: 40px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

/* .custom-bullet {
    list-style-image: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/325/snowflake_2744-fe0f.png');
  } */

.review-box {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* text decoration: none 
  cursor: pointer color: white */
